[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bamlss"]
	path = bamlss
	url = https://github.com/cran/bamlss
[submodule "BayesX"]
	path = BayesX
	url = https://github.com/cran/BayesX
[submodule "BayesXsrc"]
	path = BayesXsrc
	url = https://github.com/cran/BayesXsrc
[submodule "R2BayesX"]
	path = R2BayesX
	url = https://github.com/cran/R2BayesX
